<div style="height:30%;">
 <app-log-in (doLogin)= "lock = !$event"></app-log-in>
  <div class="row"  style="padding: 8px;">
    <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-secondary" (click)="trova(searchString.value)" type="button">Trova!</button>
          </span>
          <input type="text" #searchString class="form-control" placeholder="Ricerca..." aria-label="Search for...">
        </div>
    </div>
    <div class="col-md-4" style="padding: 8px;">
         totale vigili: <span class="badge badge-dark">{{totaleVigili}}</span>
         <span style="margin-left: 20px;">vigili in attesa: </span><span class="badge badge-dark">{{totaleVigiliAttesa}}</span>
         
    </div>
    
    <div class="col-md-4" style="padding: 8px;">
          <button type="button" (click)="clickNuovo()" [disabled]="lock" class="btn btn-info right" data-toggle="modal" data-target="#form-vigili"><i class="material-icons align-middle">&#xE147;</i>Nuovo vigile</button>
    </div>
  </div>
      
<table class="table table-striped table-sm" style="margin: 5px;">
  <thead class="">
    <tr>
      <th scope="col" width="459">Nominativo</th>
      <th scope="col" width="160">Data di nascita</th>
      <th scope="col" width="160">Grado</th>
      <th scope="col">Patente</th>
      <th scope="col">Note</th>
      <th scope="col" width="116">Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vigile of listVigili">
      <td><b>{{vigile.nome}} {{vigile.cognome}}</b><br>
        <div class="d-flex flex-row">
            <div class="p-2"><i>Attualmente presente nella squadra:</i></div>
            <div style="margin-top: 6px;" class="avatar-24 rounded-circle p-2 mb-2 bg-info text-white">{{vigile.idSquadra}}</div>
       </div>
      </td>
      <td>{{vigile.dataNascita | amDateFormat:'DD/MM/YYYY'}}</td>
      <td>{{vigile.grado}}</td>
      <td>{{vigile.patente}}</td>
      <td>{{vigile.note}}</td>
      <td>
        <button type="button" [disabled]="lock" class="btn btn-sm btn-outline-danger"><i class="material-icons align-middle">&#xE872;</i></button>
        <button type="button" [disabled]="lock" (click)="editVigile(vigile)" class="btn btn-sm btn-outline-secondary"><i class="material-icons align-middle">mode_edit</i></button>
      </td>
    </tr>
  </tbody>
</table>

<!--  MASCHERA DI INSERIMENTO / MODIFICA VIGILE !-->
<div class="modal fade" id="form-vigili" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ttleWin}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 600px; overflow-y: auto;">
            <form [formGroup]="vigile">
                <div class="form-row">
                  
                  <div class="form-group col-md-6">
                      <label>Nome:*</label>
                      <input type="text" class="form-control" [ngClass]="{'is-invalid':!vigile.controls['nome'].valid}"  formControlName="nome"  placeholder="Nome" >
                      <div class="invalid-feedback" *ngIf="!vigile.controls['nome'].valid && vigile.controls['nome'].touched">
                        Campo nome obbligatorio</div>                      
                  </div>
                    
                    <div class="form-group col-md-6">
                        <label>Cognome:*</label>
                        <input type="text" class="form-control" [ngClass]="{'is-invalid':!vigile.controls['cognome'].valid}" formControlName="cognome"   placeholder="Cognome">
                        <div class="invalid-feedback" *ngIf="!vigile.controls['cognome'].valid && vigile.controls['cognome'].touched">
                        Campo Cognome obbligatorio</div> 
                    </div>
                    <div class="form-group col-md-6">
                        <label>Data di nascita:*</label>
                       <input type="date" class="form-control" [ngClass]="{'is-invalid':!vigile.controls['dataNascita'].valid}" formControlName="dataNascita"   placeholder="Data di nascita">
                       <div class="invalid-feedback" *ngIf="!vigile.controls['dataNascita'].valid && vigile.controls['dataNascita'].touched">
                          Campo Data di nascita obbligatorio</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Grado:*</label>
                        <select class="custom-select form-control" formControlName="grado" [ngClass]="{'is-invalid':!vigile.controls['grado'].valid}" >  
                          <option *ngFor="let item of grado" [value]="item">{{item}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="!vigile.controls['grado'].valid && vigile.controls['grado'].touched">
                        Campo Grado obbligatorio</div>
                    </div> 
                    <div class="form-group col-md-6">
                        <label>Qualifica:</label>
                        <input type="text" class="form-control" formControlName="qualifica"   placeholder="Qualifica">                        
                    </div>  
                    <div class="form-group col-md-6">
                        <label>Patente:</label>
                        <input type="text" class="form-control" formControlName="patente"   placeholder="Patente">                        
                    </div> 
                    <div class="form-group col-md-6">
                        <label>Cerca persone:</label>
                        <input type="text" class="form-control" formControlName="cercaPersone"   placeholder="Cerca persone">                        
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label>Squadra:</label>
                        <select (change)="getLetteraVigile($event.target.value)" class="custom-select form-control" formControlName="idSquadra" >
                            <option *ngFor="let item of squadra" [value]="item">{{item}}</option>
                         </select>                        
                    </div>  
                    <div class="form-group col-md-6">
                        <label>Lettera vigile:</label>
                        <input type="text" class="form-control" [ngClass]="{'is-invalid':!vigile.controls['letteraVigile'].valid}" formControlName="letteraVigile"   placeholder="Lettera vigile">                        
                        <div class="invalid-feedback" *ngIf="!vigile.controls['letteraVigile'].valid && vigile.controls['letteraVigile'].touched">
                        Campo lettera vigile obbligatorio</div>
                     </div>  
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <input type="textarea" class="form-control" style="height: 200px;" formControlName="note" placeholder="Note">                        
                    </div> 
                </div>                  
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-primary">Salva</button>
        </div>
      </div>
    </div>
  </div>
</div>